<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body class="book-style">
    <nav style="background-color: #f0f0f0; padding: 10px;">
        <a href="{% url 'shop:home' %}" style="margin-right: 20px;">Главная</a>
        <a href="{% url 'shop:books' %}" style="margin-right: 20px;">Поиск</a>
        <a href="{% url 'accounts:profile' %}" style="margin-right: 20px;">Профиль</a>
        <a href="{% url 'cart:cart_detail' %}" style="margin-right: 20px;">Корзина</a>
        <a href="{% url 'shop:orders' %}" style="margin-right: 20px;">Заказы</a>
        <a href="{% url 'shop:stars' %}">Избранное </a>
    </nav>
    {% block content %}

    <h1>Заказ</h1>
    <div>
    <h3>Ваш заказ:</h3>
    <table>
        <tr>
            <th>  </th>
            <th>Книга</th>
            <th>Цена за 1 шт.</th>
            <th>Количество</th>
            <th>Итоговая стоимость</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td ><img src="{{ item.book.img.url }}" alt="{{ item.book.id }}" height="200px"></td>
            <td>{{ item.book.title }} - {{ item.book.author }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Всего к оплате: {{ cart.get_total_price }} руб.</p>
    </div>
            <form method="post" class="order-form">
            {{ form.as_p }}
            <p><input type="submit" value="Заказать"></p>
            {% csrf_token %}
            </form>
            {% endblock %}
            <a href="/">Вернуться на главную</a>
</body>
</html>
