<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
</head>
<body class="book-style">
    <nav style="background-color: #f0f0f0; padding: 10px;">
        <a href="{% url 'shop:home' %}" style="margin-right: 20px;">Главная</a>
        <a href="{% url 'shop:books' %}" style="margin-right: 20px;">Поиск</a>
        <a href="{% url 'accounts:profile' %}" style="margin-right: 20px;">Профиль</a>
        <a href="{% url 'cart:cart_detail' %}" style="margin-right: 20px;">Корзина</a>
        <a href="{% url 'shop:orders' %}" style="margin-right: 20px;">Заказы</a>
        <a href="{% url 'shop:stars' %}">Избранное </a>
    </nav>
    <h1>Ваш заказ оформлен!</h1> 
    <h3>Детали заказа:</h3>
    <table class="order-info">
        <tr>
            <th>Номер заказа:</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>Дата заказа:</th>
            <td>{{ order.order_date|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <th>Статус:</th>
            <td>{{ order.order_status }}</td>
        </tr>
        <tr>
            <th>Цена заказа:</th>
            <td>{{ order.total_cost }}</td>
        </tr>
        <tr>
            <th>Создатель заказа:</th>
            <td>{{ order.created_by.email }} {{ order.created_by.first_name }} {{ order.created_by.last_name }}</td>
        </tr>
        <tr>
            <th>Получатель:</th>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
            <th>Дата создания:</th>
            <td>{{ order.order_date|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <th>Дата последнего обновления:</th>
            <td>{{ order.updated_at|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <th>Адресс доставки:</th>
            <td>{{ order.country }}, {{order.state}}, {{order.city}}, {{order.street}}, {{order.home}}</td>
        </tr>
        <tr>
            <th>Оплата:</th>
            <td>{{ order.payment_method }}</td>
        </tr>
    </table>
</body>
</html>