.book-style {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}
table {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #8dc2ff;
    font-size: 15px;
    background: #fff!important;
}

table th {
    font-weight: bold;
    padding: 7px;
    background: #8dc2ff;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #8dc2ff;
}

table td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}

table tbody tr:nth-child(even) {
    background: #f8f8f8!important;
}


table td a {
    text-decoration: none;
}

.order-info {
    width: 40%;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* на всю высоту экрана */
}
.login-form {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    font-size: 18px;
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}
.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #45a049;
}