<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книги</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <nav style="background-color: #f0f0f0; padding: 10px;">
        <a href="{% url 'shop:home' %}" style="margin-right: 20px;">Главная</a>
        <a href="{% url 'shop:books' %}" style="margin-right: 20px;">Поиск</a>
        <a href="{% url 'accounts:profile' %}" style="margin-right: 20px;">Профиль</a>
        <a href="{% url 'cart:cart_detail' %}" style="margin-right: 20px;">Корзина</a>
        <a href="{% url 'shop:orders' %}" style="margin-right: 20px;">Заказы</a>
        <a href="{% url 'shop:stars' %}">Избранное </a>
    </nav>
    <form action="{% url 'shop:search_books' %}" method="GET"> 
        <input name="q" type="text" placeholder="Введите название книги или автора..."> 
    </form> 
    <h1 class="book-style">Книги</h1>
    <table>
        <tr>
            <th>     </th>
            <th class="book-style">Книга</th>
            <th class="book-style">Автор</th>
            <th class="book-style">Стоимость</th>
        </tr>
        {% for book in list_of_all_books %}
        <tr>
            <td class="book-style"><img src="{{ book.img.url }}" alt="{{ book.id }}" height="200px"></td>
            <td class="book-style">
                <a href="{% url 'shop:book_detail' book.id %}">{{book.title}}</a>
            </td>
            <td class="book-style">{{ book.author }}</td>
            <td class="book-style">{{ book.price }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>