<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Покупатели</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body class="book-style">
    <nav style="background-color: #f0f0f0; padding: 10px;">
        <a href="{% url 'shop:home' %}" style="margin-right: 20px;">Главная</a>
        <a href="{% url 'shop:books' %}" style="margin-right: 20px;">Поиск</a>
        <a href="{% url 'accounts:profile' %}" style="margin-right: 20px;">Профиль</a>
        <a href="{% url 'cart:cart_detail' %}" style="margin-right: 20px;">Корзина</a>
        <a href="{% url 'shop:stars' %}">Избранное </a>
    </nav>
    <h1>Список всех покупателей:</h1>
    <table>
        <tr>
            <th>Номер клиента</th>
            <th>Email</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата регистрации</th>
        </tr>
        {% for customer in list_of_all_customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.created_at|date:"d-m-Y" }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>