<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>читай город 2.0</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav style="background-color: #f0f0f0; padding: 10px;">
        <a href="{% url 'shop:home' %}" style="margin-right: 20px;">Главная</a>
        <a href="{% url 'shop:books' %}" style="margin-right: 20px;">Поиск</a>
        <a href="{% url 'accounts:profile' %}" style="margin-right: 20px;">Профиль</a>
        <a href="{% url 'cart:cart_detail' %}" style="margin-right: 20px;">Корзина</a>
        <a href="{% url 'shop:orders' %}" style="margin-right: 20px;">Заказы</a>
        <a href="{% url 'shop:stars' %}">Избранное </a>
    </nav>
    <h1>читай город 2.0</h1>
    {% if user.is_authenticated %} 
        <h1>Привет, {{ user.first_name }} {{ user.last_name}}!</h1> 
    {% else %} 
        <p>Вы не вошли на сайт</p> 
        <a href="{% url 'login' %}">Войти</a> 
    {% endif %}  
    <img src="{% static 'img/home.jpg' %}" alt="Django">
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>