<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>читай город 2.0</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>читай город 2.0</h1>
    {% if user.is_authenticated %} 
        <h1>Привет, {{ user.first_name }} {{ user.last_name}}!</h1> 
    {% else %} 
        <p>Вы не вошли на сайт</p> 
        <a href="{% url 'login' %}">Войти</a> 
    {% endif %}  
    <img src="{% static 'img/home.jpg' %}" alt="Django">
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>