<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказы Пользователя</title>
</head>
<body>
    <h1>Все Заказы Пользователя</h1>

    {% if orders %}
        {% for order in orders %}
            <div style="border: 1px solid black; margin-bottom: 15px; padding: 10px;">
                <p><strong>Номер Заказа:</strong> {{ order.id }} | <strong>Дата Создания:</strong> {{ order.date_created|date:"d-m-Y H:i:s" }}</p>
                <p><strong>Сумма Заказа:</strong> {{ order.total_cost }}</p>
                <p><strong>Статус:</strong> {{ order.status }}</p>
                
                <!-- Список Товаров -->
                <table cellpadding="5">
                    <tr>
                        <th>Наименование Товара</th>
                        <th>Кол-во</th>
                        <th>Цена за Единицу</th>
                    </tr>
                    {% for item in order.items.all %}
                        <tr>
                            <td>{{ item.book.title }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет Активных Заказов.</p>
    {% endif %}

</body>
</html>