<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Состав заказа</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body class="book-style">
    <nav style="background-color: #f0f0f0; padding: 10px;">
        <a href="{% url 'shop:home' %}" style="margin-right: 20px;">Главная</a>
        <a href="{% url 'shop:books' %}" style="margin-right: 20px;">Поиск</a>
        <a href="{% url 'accounts:profile' %}" style="margin-right: 20px;">Профиль</a>
        <a href="{% url 'cart:cart_detail' %}" style="margin-right: 20px;">Корзина</a>
        <a href="{% url 'shop:stars' %}">Избранное </a>
    </nav>
    <h1>Заказ №{{ order.id }}</h1>
    <table class="order-info">
        <tr>
            <th>Номер заказа:</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>Дата заказа:</th>
            <td>{{ order.order_date|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <th>Статус:</th>
            <td>{{ order.order_status }}</td>
        </tr>
        <tr>
            <th>Цена заказа:</th>
            <td>{{ order.total_cost }}</td>
        </tr>
        <tr>
            <th>Покупатель:</th>
            <td>{{ order.customer }}</td>
        </tr>
        <tr>
            <th>Дата создания:</th>
            <td>{{ order.order_date|date:"d-m-Y" }}</td>
        </tr>
        <tr>
            <th>Дата последнего обновления:</th>
            <td>{{ order.updated_at|date:"d-m-Y" }}</td>
        </tr>
    </table>
    <h1>Товары в заказе</h1>
    <table>
        <tr>
            <th>  </th>
            <th>Книга</th>
            <th>Цена за 1 шт.</th>
            <th>Количество</th>
            <th>Итоговая стоимость</th>
        </tr>
        {% for order_item in order.items.all %}
        <tr>
            <td ><img src="{{ order_item.product.img.url }}" alt="{{ order_item.product.id }}" height="200px"></td>
            <td>{{ order_item.product.title }} - {{ order_item.product.author }}</td>
            <td>{{ order_item.price }}</td>
            <td>{{ order_item.quantity }}</td>
            <td>{{ order_item.get_cost }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>